* {
  padding: 3;
  margin: 0;
  background: lightblue;
  scroll-behavior: smooth;
}

.button {
  background: rgb(18, 49, 63);
  color: white;
  border: none;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px 10px;
  border-radius: 30px;
  outline: none;
}

#button1_div {
  text-align: center;
}

.button:hover {
  background: white;
  color:rgb(18, 49, 63);
}

#button1_info {
  background-color: rgb(18, 49, 63);
  color: white;
  font-size: 20px;
  padding: 10px;
  width: 400px;
  margin: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  border-radius: 10px;
}
#input1_div
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
#input1 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  background-color: white;
  border-radius: 10px;
}
#button1_2_div {
  text-align: center;
}
#output1_div
{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
  border-radius: 100px;
  padding: 20px;
}
#output1
{
  padding: 20px;
  font-size: 19;
  font-weight: bold;
  color: rgb(18, 49, 63);
  background-color: rgb(200, 246, 202);
  border-radius: 10px;
}
#Font
{
  position: fixed;
  bottom: 60px;
  right: 40px;
  font-size: 40;
  background:rgb(18, 49, 63);
  padding: 15px 15px;
  color: lightcyan;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
}
#Font:hover
{
  background: white;
  color:rgb(18, 49, 63);
  transition: .5s;
}
